* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}


/* Form title */

form h1 {
    color: #1DB954; /* Spotify green */
    text-align: center;
    margin-bottom: 30px;
}
/* Form styling */
form {
    margin-top: 200px;
    background-color: #181818;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    
}

/* Label styling */
label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #b3b3b3;
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #282828;
    border: 1px solid #333;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

/* File input styling */
input[type="file"] {
    display: none; /* Hide the default file input button */
}

/* Custom file upload button */
.custom-file-label {
    display: inline-block;
    background-color: #282828;
    color: #b3b3b3;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #333;
    font-size: 16px;
}

.custom-file-label:hover {
    background-color: #333;
}

/* Submit button */
button {
    background-color: #1DB954; /* Spotify green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #1ed760;
}



/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 30px;
        width: 90%;
    }
}
